Repository penta-jelly/re-radio, pull requests merged in 2019-11, with the labels that each got.

#295 feat: rework station layout
  client/src/components/button/fab/index.tsx
  client/src/components/button/fab/styles.ts
  client/src/components/button/primary-button/styles.ts
  client/src/containers/layout/styles.ts
  client/src/modules/station/add-song/add-button/index.tsx
  client/src/modules/station/add-song/autocomplete/index.tsx
  client/src/modules/station/add-song/autocomplete/styles.ts
  client/src/modules/station/add-song/index.tsx
  client/src/modules/station/add-song/preview/index.tsx
  client/src/modules/station/add-song/styles.ts
  client/src/modules/station/header/index.tsx
  client/src/modules/station/header/styles.ts
  client/src/modules/station/index.tsx
  client/src/modules/station/player/index.tsx
  client/src/modules/station/playlist/index.tsx
  client/src/modules/station/styles.ts
  client/src/operations/index.tsx
  client/src/operations/queries/stationPlayingSongs.graphql
  client/src/operations/queries/stationPlaylistSongs.graphql
  client/src/pages/station.tsx
  e2e/cypress/integration/stationPage.ts
  e2e/cypress/support/StationPage.ts
Labels: client, enhancement

#296 feat: login form can be accessed from anywhere
  client/public/asset/image/auth-background.jpg
  client/public/asset/image/login-background.jpg
  client/public/asset/stations/default.png
  client/public/asset/stations/default_cover.png
  client/src/containers/layout/index.tsx
  client/src/containers/layout/styles.ts
  client/src/lib/apollo/init.ts
  client/src/modules/station/list/item.tsx
  client/src/modules/user/authentication/login-form/index.tsx
  client/src/modules/user/authentication/login-form/styles.ts
  client/src/modules/user/index.ts
  client/src/pages/authentication/login/login.tsx
  client/src/pages/authentication/login/styles.ts
  client/src/pages/authentication/register/styles.ts
Labels: client

#297 feat: log level
  server/.env.example
  server/src/core/config/config.service.ts
  server/src/core/config/config.variables.ts
  server/src/core/exception.filter.ts
  server/src/radio.ts
  server/src/real-time-radio.ts
  server/src/real-time-radio/real-time-songs/real-time-songs-worker.service.ts
Labels: server

#299 feat(client): player
  client/package.json
  client/src/hooks/use-unauthorized-notification/index.tsx
  client/src/modules/station/add-song/add-button/index.tsx
  client/src/modules/station/add-song/autocomplete/index.tsx
  client/src/modules/station/add-song/preview/index.tsx
  client/src/modules/station/create/create-station-form.tsx
  client/src/modules/station/player/index.tsx
  client/src/modules/station/player/styles.ts
  e2e/cypress/integration/stationPage.ts
  e2e/cypress/integration/stationsPage.ts
Labels: client

#300 feat: use yarn for better monorepo support
  .github/workflows/push.yml
  .npmrc
  .travis.yml
  README.md
  client/package.json
  client/src/modules/station/add-song/add-button/index.tsx
  client/src/modules/station/create/create-station-form.tsx
  common/package.json
  e2e/package.json
  lerna.json
  package.json
  renovate.json
  server/package.json
  yarn.lock
Labels: dependencies, enhancement

#304 refactor: client routing
  client/src/containers/app.tsx
  client/src/containers/layout/index.tsx
  client/src/containers/router.tsx
  client/src/modules/user/authentication/login-form/index.tsx
  client/src/modules/user/authentication/register-form/index.tsx
  client/src/modules/user/authentication/register-form/styles.ts
  client/src/modules/user/index.ts
  client/src/pages/about.tsx
  client/src/pages/authentication/login/index.tsx
  client/src/pages/authentication/register/index.tsx
  client/src/pages/authentication/register/register.tsx
  client/src/pages/authentication/register/styles.ts
Labels: client

#306 feat: basic support for station's online users
  .vscode/settings.json
  client/.env.example
  client/src/containers/app.tsx
  client/src/containers/layout/index.tsx
  client/src/containers/router.tsx
  client/src/hooks/use-interval.ts
  client/src/hooks/use-unauthorized-notification/index.tsx
  client/src/hooks/user-previous.ts
  client/src/lib/apollo/init.ts
  client/src/modules/station/header/index.tsx
  client/src/modules/station/index.tsx
  client/src/modules/station/player/index.tsx
  client/src/modules/station/player/styles.ts
  client/src/modules/station/playlist/index.tsx
  client/src/operations/index.tsx
  client/src/operations/mutations/joinStation.graphql
  client/src/operations/mutations/leaveStation.graphql
  client/src/operations/queries/station.graphql
  client/src/operations/queries/stations.graphql
  client/src/pages/station.tsx
  client/src/react-app-env.d.ts
  e2e/cypress/integration/stationPage.ts
  server/.env.example
  server/.eslintrc
  server/package.json
  server/schema.graphql
  server/src/core/config/config.variables.ts
  server/src/core/graphql/graphql.options.ts
  server/src/migrations/1573101970989-OnlineUsers.ts
  server/src/radio.ts
  server/src/radio/radio.module.ts
  server/src/radio/song/entities/song.entity.ts
  server/src/radio/station/dto/station-subscription.dto.ts
  server/src/radio/station/dto/station.dto.ts
  server/src/radio/station/entities/station.entity.ts
  server/src/radio/station/resolvers/station.resolver.ts
  server/src/radio/station/services/station.service.ts
  server/src/radio/user/dto/user-subscription.dto.ts
  server/src/radio/user/dto/user.dto.ts
  server/src/radio/user/entities/user.entity.ts
  server/src/radio/user/resolvers/user-subscription.resolver.ts
  server/src/real-time-radio/real-time-stations/real-time-station.event.ts
  server/src/real-time-radio/real-time-stations/real-time-stations-worker.service.ts
  server/src/real-time-radio/real-time-stations/real-time-stations.module.ts
Labels: client, server

#309 feat: setup debugger profiles for vscode
  .vscode/launch.json
  package.json
  server/nodemon.json
  server/package.json
  server/tsconfig.json
Labels: enhancement

#314 feat: history songs
  client/src/hooks/use-scroll-monitor.ts
  client/src/modules/station/add-song/add-button/index.tsx
  client/src/modules/station/header/index.tsx
  client/src/modules/station/history-songs/index.tsx
  client/src/modules/station/history-songs/item/index.tsx
  client/src/modules/station/history-songs/item/styles.ts
  client/src/modules/station/history-songs/styles.ts
  client/src/modules/station/index.tsx
  client/src/modules/station/list/item.tsx
  client/src/modules/station/playlist/index.tsx
  client/src/modules/station/playlist/item/index.tsx
  client/src/modules/station/playlist/styles.ts
  client/src/modules/station/styles.ts
  client/src/operations/index.tsx
  client/src/operations/queries/historySongs.graphql
  client/src/operations/queries/stationPlaylistSongs.graphql
  server/schema.graphql
  server/src/radio/song/dto/song.dto.ts
  server/src/radio/song/resolvers/history-song.resolver.ts
  server/src/radio/song/resolvers/song.resolver.ts
  server/src/radio/song/services/song.service.ts
  server/src/radio/song/song.input.ts
  server/src/radio/song/song.module.ts
Labels: client, server

#315 fix: online users no longer be able to spam USER_LEFT event
  client/src/modules/station/header/index.tsx
  client/src/pages/station.tsx
  server/.env.example
  server/src/core/config/config.variables.ts
  server/src/radio.ts
  server/src/radio/radio.module.ts
  server/src/radio/station/resolvers/station.resolver.ts
  server/src/radio/station/services/station.service.ts
  server/src/real-time-radio.ts
  server/src/real-time-radio/real-time-radio.module.ts
  server/src/real-time-radio/real-time-songs/real-time-songs.module.ts
  server/src/real-time-radio/real-time-songs/real-time-songs.worker.ts
  server/src/real-time-radio/real-time-stations/real-time-station.event.ts
  server/src/real-time-radio/real-time-stations/real-time-stations-worker.service.ts
  server/src/real-time-radio/real-time-stations/real-time-stations.module.ts
  server/src/real-time-radio/real-time-stations/real-time-stations.worker.ts
Labels: server

#317 fix: wait-on now use file system instead of url
  .gcloud/Dockerfile
  .github/workflows/deploy.yml
  server/src/radio.ts
  server/src/real-time-radio.ts
  server/src/real-time-radio/real-time-radio.module.ts
  server/src/workers.ts
Labels: server

#318 feat: useMemorizedValue to prevent reload animation between socket restarting
  client/src/hooks/use-memorized-value.ts
  client/src/modules/station/history-songs/index.tsx
  client/src/modules/station/player/index.tsx
  client/src/modules/station/playlist/index.tsx
Labels: client

#319 feat: playlist style
  client/src/modules/station/index.tsx
  client/src/modules/station/playlist/index.tsx
  client/src/modules/station/playlist/item/index.tsx
  client/src/modules/station/playlist/item/styles.ts
  client/src/modules/station/styles.ts
Labels: client
