Repository penta-jelly/re-radio, pull requests merged in 2019-05, with the labels that each got.

#146 chore(refactor): change prettier eol config to LF
  .prettierrc
  client/.prettierrc
  client/package.json
  e2e/.prettierrc
  e2e/package.json
  server/.prettierrc
  server/package.json
Labels: client, enhancement, server, testing

#161 refactor(server): apply absolute import path
  server/Dockerfile
  server/package-lock.json
  server/package.json
  server/src/core/files/files.module.ts
  server/src/core/request.interceptor.ts
  server/src/prisma/prisma.module.ts
  server/src/prisma/prisma.service.ts
  server/src/radio.ts
  server/src/radio/auth/auth.module.ts
  server/src/radio/auth/auth.resolver.ts
  server/src/radio/auth/auth.service.ts
  server/src/radio/auth/decorators/Roles.decorator.ts
  server/src/radio/auth/dto/LoginInput.dto.ts
  server/src/radio/auth/dto/RegisterInput.dto.ts
  server/src/radio/auth/guards/Authentication.guard.ts
  server/src/radio/auth/guards/Authorization.guard.ts
  server/src/radio/radio.module.ts
  server/src/radio/songs-explorer/dto/SongExplorerWhereInput.dto.ts
  server/src/radio/songs-explorer/dto/SongExplorersWhereInput.dto.ts
  server/src/radio/songs-explorer/songs-explorer.resolver.ts
  server/src/radio/songs-explorer/youtube/youtube.module.ts
  server/src/radio/songs-explorer/youtube/youtube.service.ts
  server/src/radio/songs/dto/SongCreateInput.dto.ts
  server/src/radio/songs/dto/SongUpdateInput.dto.ts
  server/src/radio/songs/dto/SongUpdateManyInput.dto.ts
  server/src/radio/songs/songs.module.ts
  server/src/radio/songs/songs.resolver.ts
  server/src/radio/songs/songs.service.ts
  server/src/radio/stations/dto/StationCreateInput.dto.ts
  server/src/radio/stations/dto/StationUpdateInput.dto.ts
  server/src/radio/stations/dto/StationUpdateManyInput.dto.ts
  server/src/radio/stations/stations.module.ts
  server/src/radio/stations/stations.resolver.ts
  server/src/radio/stations/stations.service.ts
  server/src/radio/users/dto/UserCreateInput.dto.ts
  server/src/radio/users/dto/UserUpdateInput.dto.ts
  server/src/radio/users/dto/UserUpdateManyInput.dto.ts
  server/src/radio/users/user.service.ts
  server/src/radio/users/users.module.ts
  server/src/radio/users/users.resolver.ts
  server/src/real-time-radio.ts
  server/src/real-time-radio/real-time-radio.module.ts
  server/src/real-time-radio/real-time-songs/real-time-songs-worker.service.ts
  server/src/real-time-radio/real-time-songs/real-time-songs.module.ts
  server/src/real-time-radio/real-time-songs/real-time-songs.service.ts
  server/src/real-time-radio/real-time-stations/real-time-stations.module.ts
  server/src/real-time-radio/real-time-stations/real-time-stations.service.ts
  server/src/workers.ts
  server/src/workers/seeder/seeder.module.ts
  server/src/workers/seeder/seeder.service.ts
  server/tsconfig.json
Labels: server

#163 fix(server): change song explorers query ID to be a string instead of an object
  client/src/operations/index.tsx
  client/src/operations/mutations/updateUserAvatar.graphql
  client/src/operations/queries/currentUser.graphql
  client/src/operations/queries/songExplorers.graphql
  client/src/operations/queries/userProfile.graphql
  server/src/radio/songs-explorer/song-explorer.graphql
  server/src/radio/songs-explorer/youtube/youtube.service.ts
Labels: bug, server

#164 refactor(e2e): apply absolute import path
  e2e/.eslintrc
  e2e/cypress/integration/authentication/login.ts
  e2e/cypress/integration/authentication/register.ts
  e2e/cypress/integration/homePage.ts
  e2e/cypress/integration/stationPage.ts
  e2e/cypress/integration/stationsPage.ts
  e2e/cypress/integration/userProfilePage.ts
  e2e/cypress/plugins/index.js
  e2e/cypress/webpack.config.js
  e2e/package-lock.json
  e2e/package.json
  e2e/tsconfig.json
  e2e/webpack.config.js
Labels: enhancement, testing

#174 feat(travis): enable TravisCI
  .circleci/config.yml
  .travis.yml
  client/.dockerignore
  compose/docker-compose.db.yml
  compose/docker-compose.test.yml
  e2e/Dockerfile
  e2e/cypress.json
  e2e/cypress/plugins/index.js
  e2e/package-lock.json
  e2e/package.json
  server/.dockerignore
  test.sh
Labels: enhancement

#195 feat(e2e): enable cypress dashboard service
  .travis.yml
  README.md
  e2e/cypress.json
  e2e/package.json
Labels: testing

#210 feat(station): simple websocket integration in station player
  client/package-lock.json
  client/package.json
  client/src/lib/apollo/init.ts
  client/src/modules/station/player/index.tsx
  client/src/modules/station/player/styles.ts
  client/src/operations/index.tsx
  client/src/operations/queries/currentUser.graphql
  client/src/operations/queries/stationPlayingSongs.graphql
  e2e/cypress/integration/stationPage.ts
  e2e/cypress/support/StationPage.ts
Labels: client, testing

#226 feat(datamodel): introduce "station admin" role
  client/src/modules/user/profile/stations/index.tsx
  client/src/operations/index.tsx
  client/src/operations/queries/station.graphql
  client/src/operations/queries/stations.graphql
  client/src/operations/queries/userProfile.graphql
  server/database/datamodel.prisma
  server/src/core/graphql/graphql.options.ts
  server/src/prisma/prisma-types.graphql
  server/src/prisma/prisma.binding.ts
  server/src/radio/auth/auth.service.ts
  server/src/radio/auth/guards/Authorization.guard.ts
  server/src/radio/stations/dto/StationCreateInput.dto.ts
  server/src/radio/stations/dto/StationUpdateInput.dto.ts
  server/src/radio/stations/stations.resolver.ts
  server/src/radio/users/dto/UserCreateInput.dto.ts
  server/src/radio/users/dto/UserUpdateInput.dto.ts
  server/src/radio/users/dto/UserUpdateManyInput.dto.ts
  server/src/workers/seeder/seeder.service.ts
Labels: enhancement, server

#232 feat(client): add song
  client/package-lock.json
  client/package.json
  client/public/asset/image/loading_song.png
  client/src/components/input/re-search/index.tsx
  client/src/components/input/re-search/styles.ts
  client/src/modules/station/add-song/add-button/index.tsx
  client/src/modules/station/add-song/add-button/styles.ts
  client/src/modules/station/add-song/autocomplete/index.tsx
  client/src/modules/station/add-song/autocomplete/styles.ts
  client/src/modules/station/add-song/index.tsx
  client/src/modules/station/add-song/preview/index.tsx
  client/src/modules/station/add-song/preview/styles.ts
  client/src/modules/station/add-song/styles.ts
  client/src/modules/station/index.tsx
  client/src/modules/station/styles.ts
  client/src/operations/index.tsx
  client/src/operations/mutations/createSong.graphql
  e2e/cypress/integration/stationPage.ts
  e2e/cypress/support/StationPage.ts
  server/src/radio/songs-explorer/song-explorer.graphql
  server/src/radio/songs-explorer/songs-explorer.resolver.ts
Labels: client, server, testing
