Repository penta-jelly/re-radio, pull requests merged in 2019-04, with the labels that each got.

#47 feat: Implement station page layout
  .vscode/settings.json
  client/src/containers/app-router.tsx
  client/src/modules/index.tsx
  client/src/modules/station/add-song/index.tsx
  client/src/modules/station/add-song/styles.ts
  client/src/modules/station/chat-box/index.tsx
  client/src/modules/station/chat-box/styles.ts
  client/src/modules/station/header/index.tsx
  client/src/modules/station/header/styles.ts
  client/src/modules/station/index.tsx
  client/src/modules/station/player/index.tsx
  client/src/modules/station/player/styles.ts
  client/src/modules/station/playlist/index.tsx
  client/src/modules/station/playlist/styles.ts
  client/src/modules/station/styles.ts
  client/src/pages/index.tsx
  client/src/pages/station.tsx
  e2e/cypress/integration/showStationPage.ts
  e2e/cypress/support/StationPage.ts
Labels: client, testing

#64 feat: enhance install.sh script
  install.sh
Labels: enhancement

#77 feat(e2e): stations page e2e test
  client/nginx.conf
  client/src/components/re-card/index.tsx
  client/src/containers/layout.tsx
  client/src/lib/apollo/init.ts
  client/src/pages/home/index.tsx
  e2e/cypress/integration/showStationsPage.ts
  e2e/cypress/support/HomePage.ts
  e2e/cypress/support/StationsPage.ts
  server/Dockerfile
  server/docker-compose.yml
Labels: client, testing

#84 feat(graphql): currentUser query
  client/src/graphql/index.tsx
  server/src/radio/auth/auth.graphql
  server/src/radio/auth/auth.resolver.ts
  server/src/radio/auth/decorators/CurrentUser.decorator.ts
  server/src/radio/auth/decorators/Roles.decorator.ts
  server/src/radio/users/guards/UserPassword.guard.ts
  server/src/radio/users/users.module.ts
Labels: server

#88 feat: enhance ability to recover from crashes
  server/src/real-time-radio/real-time-songs/real-time-song-utils.service.ts
  server/src/real-time-radio/real-time-songs/real-time-songs-worker.service.ts
  server/src/real-time-radio/real-time-songs/real-time-songs.module.ts
  server/src/real-time-radio/real-time-songs/real-time-songs.service.ts
  server/src/real-time-radio/real-time-stations/real-time-stations-worker.service.ts
  server/src/real-time-radio/real-time-stations/real-time-stations.module.ts
  server/src/real-time-radio/real-time-stations/real-time-stations.service.ts
Labels: server

#87 feat: stations navigation
  client/src/components/re-card/index.tsx
  client/src/containers/layout.tsx
  client/src/containers/layout/index.tsx
  client/src/containers/layout/styles.ts
  client/src/containers/router.tsx
  client/src/graphql/index.tsx
  client/src/graphql/queries/station.graphql
  client/src/modules/station/header/index.tsx
  client/src/pages/home/index.tsx
  client/src/pages/station.tsx
  e2e/cypress/integration/showStationPage.ts
  e2e/cypress/support/StationPage.ts
  e2e/cypress/tsconfig.json
Labels: client, testing

#91 refactor(docker): put all compose files in 1 place
  .circleci/config.yml
  client/Dockerfile
  client/Dockerfile.dev
  client/README.md
  client/docker-compose.dev.yml
  client/docker-compose.yml
  client/package-lock.json
  client/package.json
  compose/docker-compose.db.yml
  compose/docker-compose.dev.yml
  compose/docker-compose.test.yml
  dev.sh
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  e2e/Dockerfile
  e2e/package-lock.json
  e2e/package.json
  server/.env.example
  server/Dockerfile
  server/Dockerfile.dev
  server/README.md
  server/database/docker-compose.db.yml
  server/docker-compose.dev.yml
  server/docker-compose.yml
  server/package-lock.json
  server/package.json
  test.sh
Labels: enhancement

#107 feat(station): Implement station-context for sharing global state in station page.
  client/src/containers/layout/index.tsx
  client/src/hooks/useRouter.ts
  client/src/modules/station/context/index.ts
  client/src/modules/station/context/station-context.ts
  client/src/modules/station/header/index.tsx
  client/src/modules/station/index.tsx
  client/src/pages/station.tsx
  server/Dockerfile
Labels: client

#104 feat(auth): login & register page
  client/package-lock.json
  client/package.json
  client/public/asset/image/login-background.jpg
  client/src/containers/router.tsx
  client/src/graphql/index.tsx
  client/src/graphql/mutations/login.graphql
  client/src/pages/authentication/login/login.tsx
  client/src/pages/authentication/login/styles.ts
  client/src/pages/authentication/register/register.tsx
  client/src/pages/authentication/register/styles.ts
  e2e/cypress/integration/authentication/login.ts
  e2e/cypress/integration/authentication/register.ts
  e2e/cypress/support/authentication/LoginPage.ts
  e2e/cypress/support/authentication/RegisterPage.ts
  package-lock.json
  server/src/prisma/prisma-types.graphql
Labels: client, testing

#124 feat(ide): support Intellij IDEA IDE
  .editorconfig
  .graphqlconfig.yml
  server/src/core/graphql/core.graphql
  server/src/radio/auth/auth.graphql
  server/src/radio/songs-explorer/song-explorer.graphql
Labels: enhancement
