Repository penta-jelly/re-radio, pull requests merged in 2019-03, with the labels that each got.

#8 [WIP] Initialize server
  .editorconfig
  .prettierrc
  .vscode/settings.json
  server/.dockerignore
  server/.env.example
  server/.gitignore
  server/.graphqlconfig.yml
  server/Dockerfile
  server/README.md
  server/database/datamodel.prisma
  server/database/docker-compose.mongo.yml
  server/database/docker-compose.yml
  server/database/prisma.yml
  server/docker-compose.dev.yml
  server/docker-compose.yml
  server/nodemon.json
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/core/config/config.module.ts
  server/src/core/config/config.service.ts
  server/src/core/config/config.variables.ts
  server/src/core/graphql/graphql.module.ts
  server/src/core/graphql/graphql.options.ts
  server/src/core/request.interceptor.ts
  server/src/main.ts
  server/src/prisma/prisma-types.graphql
  server/src/prisma/prisma.binding.ts
  server/src/prisma/prisma.module.ts
  server/src/prisma/prisma.service.ts
  server/src/radio/auth/auth.graphql
  server/src/radio/auth/auth.module.ts
  server/src/radio/auth/auth.resolver.ts
  server/src/radio/auth/auth.service.ts
  server/src/radio/auth/decorators/Roles.decorator.ts
  server/src/radio/auth/dto/LoginInput.dto.ts
  server/src/radio/auth/dto/RegisterInput.dto.ts
  server/src/radio/auth/guards/Authentication.guard.ts
  server/src/radio/auth/guards/Authorization.guard.ts
  server/src/radio/auth/interfaces/jwt-payload.interface.ts
  server/src/radio/auth/jwt.strategy.ts
  server/src/radio/users/dto/UserCreateInput.dto.ts
  server/src/radio/users/dto/UserUpdateInput.dto.ts
  server/src/radio/users/dto/UserUpdateManyInput.dto.ts
  server/src/radio/users/user.service.ts
  server/src/radio/users/users.module.ts
  server/src/radio/users/users.resolver.ts
  server/src/workers.module.ts
  server/src/workers.ts
  server/src/workers/seeder/Seeder.module.ts
  server/src/workers/seeder/Seeder.service.ts
  server/tsconfig.json
  server/tslint.json
Labels: server

#10 Initialize client code
  .vscode/extensions.json
  client/.dockerignore
  client/.editorconfig
  client/.env.example
  client/.gitignore
  client/.prettierrc
  client/Dockerfile
  client/Dockerfile.dev
  client/README.md
  client/apollo.config.js
  client/codegen.yml
  client/docker-compose.dev.yml
  client/docker-compose.yml
  client/nginx.conf
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/manifest.json
  client/schema.json
  client/src/components/README.md
  client/src/containers/app.tsx
  client/src/containers/router.tsx
  client/src/graphql/index.tsx
  client/src/graphql/mutations/register.graphql
  client/src/index.tsx
  client/src/lib/@material-ui/theme.ts
  client/src/lib/README.md
  client/src/lib/apollo/init.ts
  client/src/pages/about.tsx
  client/src/pages/index.tsx
  client/src/pages/register.tsx
  client/src/react-app-env.d.ts
  client/src/serviceWorker.ts
  client/tsconfig.json
  client/tslint.json
  server/README.md
  server/package-lock.json
Labels: client

#13 Implement bash script to start whole application
  .gitignore
  README
  client/.editorconfig
  client/.prettierrc
  client/docker-compose.dev.yml
  dev.sh
  docker-compose.dev.yml
  install.sh
  server/database/docker-compose.mongo.yml
  server/database/docker-compose.yml
  server/docker-compose.dev.yml
  server/package-lock.json
  server/package.json
Labels: enhancement

#14 Add i18next
  client/Dockerfile
  client/README.md
  client/docker-compose.dev.yml
  client/package-lock.json
  client/package.json
  client/src/containers/app.tsx
  client/src/lib/react-i18next/index.ts
  client/src/pages/register.tsx
  client/src/react-app-env.d.ts
  client/src/translations/en-US/common.json
  client/src/translations/vi-VN/common.json
  client/tslint.json
  install.sh
  server/Dockerfile
Labels: client, enhancement

#15 Register mutation now can return the JWT token & format error message
  .vscode/extensions.json
  client/schema.json
  client/src/graphql/index.tsx
  client/src/graphql/mutations/register.graphql
  client/src/pages/register.tsx
  server/src/core/graphql/graphql.options.ts
  server/src/prisma/prisma.service.ts
  server/src/radio/auth/auth.graphql
  server/src/radio/auth/auth.resolver.ts
  server/src/radio/auth/auth.service.ts
  server/src/radio/auth/dto/LoginInput.dto.ts
  server/src/radio/auth/interfaces/JwtPayload.interface.ts
  server/src/radio/auth/interfaces/LoginOrRegisterReturnType.interface.ts
  server/src/radio/auth/jwt.strategy.ts
  server/src/radio/users/user.service.ts
Labels: server

#19 Integrate Cypress as e2e testing solution
  .gitignore
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/examples/sample_spec.ts
  cypress/integration/pages/home.ts
  cypress/integration/pages/result.ts
  cypress/integration/pages/search.ts
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  cypress/tsconfig.json
  cypress/tslint.json
  cypress/webpack.config.js
  install.sh
  package-lock.json
  package.json
Labels: testing

#20 Make the app compatible with Docker Toolbox
  client/.env.example
  client/package.json
  client/src/lib/apollo/init.ts
  client/src/react-app-env.d.ts
  dev.sh
  install.sh
  server/.env.example
  server/Dockerfile
  server/database/docker-compose.yml
  server/docker-compose.yml
  server/package.json
Labels: enhancement

#24 feat: Migrate to react-router-dom and update all deps
  client/package-lock.json
  client/package.json
  client/src/components/page-loader.tsx
  client/src/containers/app-router.tsx
  client/src/containers/app.tsx
  client/src/containers/router.tsx
  client/src/lib/react-i18next/index.ts
  client/src/pages/about.tsx
  client/src/pages/index.tsx
  client/src/pages/register.tsx
Labels: bug, client, enhancement

#25 feat: Upgrade server to NestJS 6.0.0
  server/package-lock.json
  server/package.json
  server/src/core/request.interceptor.ts
  server/src/radio/auth/decorators/Roles.decorator.ts
  server/src/radio/users/users.resolver.ts
Labels: server

#38 refactor: e2e structure
  client/src/pages/index.tsx
  client/src/pages/register.tsx
  e2e/cypress.json
  e2e/cypress/integration/examples/another_sample_spec.ts
  e2e/cypress/integration/examples/sample_spec.ts
  e2e/cypress/integration/pages/home.ts
  e2e/cypress/integration/pages/result.ts
  e2e/cypress/integration/pages/search.ts
  e2e/cypress/integration/register.ts
  e2e/cypress/integration/showHomePage.ts
  e2e/cypress/support/HomePage.ts
  e2e/cypress/support/RegisterPage.ts
  e2e/cypress/support/commands.js
  e2e/cypress/support/index.js
Labels: testing

#40 feat: Enable hmr for client
  client/package-lock.json
  client/schema.json
  client/src/graphql/index.tsx
  client/src/index.tsx
  client/src/react-app-env.d.ts
Labels: client, enhancement

#42 UI: Provide theme file and assets
  client/public/favicon.ico
  client/public/logo.png
  client/src/assets/avatar/female.png
  client/src/assets/avatar/male.png
  client/src/assets/logo.png
  client/src/assets/stations/default_cover.png
  client/src/assets/stations/not_found.png
  client/src/lib/@material-ui/theme.ts
Labels: client

#44 feat: Add storybook for client components
  README.md
  client/.storybook/addons.ts
  client/.storybook/config.ts
  client/.storybook/decorators/with-mui-theme.tsx
  client/.storybook/webpack.config.js
  client/Dockerfile.storybook
  client/README.md
  client/docker-compose.dev.yml
  client/package-lock.json
  client/package.json
  client/src/components/button/primary-button/index.tsx
  client/src/stories/button.stories.tsx
  docker-compose.dev.yml
  docker-compose.yml
Labels: client, enhancement
